# DS250 Project

## Data Cleaning

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('5.csv', delimiter='|')

/home/shubham/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (1,12,14,16,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,80,81,82,85,88,89,98,99,105,107,109,110,111,112,113,114,115,116,117,118,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,170,173,174,177,178,185,186,193,194,195) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data

,w_id,hl_id,client_w_id,state,district,rural,stratum_code,psu_id,house_no,house_hold_no,...,anym,respondentname,rtelephoneno,isnewrecord,recordupdatedcount,recordstatus,schedule_id,year,id,v204
0,NaN,NaN,NaN,5,13,1,2,100426933,4,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490121,NaN
1,NaN,NaN,NaN,5,13,1,2,100426778,8,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490122,NaN
2,NaN,NaN,NaN,5,13,1,2,100427331,11,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490123,NaN
3,NaN,NaN,NaN,5,13,1,2,100427695,20,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490124,NaN
4,NaN,NaN,NaN,5,13,1,2,100427501,21,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,3,1490125,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941126,NaN,NaN,NaN,5,2,2,0,100505198,36,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023060,NaN
941127,NaN,NaN,NaN,5,2,2,0,100505166,43,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023061,NaN
941128,NaN,NaN,NaN,5,2,2,0,100505164,44,1,...,NaN,NaN,NaN,1,1.0,2.0,2,2,9023062,NaN
941129,NaN,NaN,NaN,5,2,2,0,100505183,46,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023063,NaN
941130,NaN,NaN,NaN,5,2,2,0,100505140,51,1,...,NaN,NaN,NaN,NaN,1.0,2.0,2,2,9023064,NaN

In [7]:
data = data[data["sex"] == 2]
data = data[data["result_of_interview"] == 1]

In [8]:
columns_to_be_removed = ['w_id', 'hl_id', 'client_w_id', 'state', 'psu_id', 'house_no', 'house_hold_no', 'year_of_intr', 
                         'month_of_intr', 'date_of_intr', 'fid', 'hh_id', 'client_hh_id', 'hh_serial_no', 'member_identity', 
                         'father_serial_no', 'mother_serial_no', 'date_of_birth', 'month_of_birth', 'date_of_marriage', 
                         'month_of_marriage', 'status', 'hh_expall_status', 'client_hl_id', 'building_no', 'hl_expall_status', 'sn', 'housestatus', 'isheadchanged', 'headname', 'fidx', 
                         'as', 'as_binned', 'fidh', 'cdoi', 'edt', 'occupation', 'catage1', 'marital', 'modern', 'traditional', 
                         'anym', 'respondentname', 'rtelephoneno', 'isnewrecord', 'recordupdatedcount', 'recordstatus', 
                         'schedule_id', 'year', 'id', 'v204', 'other_int_code', 'last_preg_no', 'previous_last_preg_no', 
                         'second_last_preg_no', 'third_last_preg_no', 'w_expall_status', 'w_status', 'twsi_id', 
                         'client_twsi_id', 'currently_widow', 'during_pregnancy', 'during_lactation', 'aware_of_haf', 
                         'twsi_expall_status', 'currently_attending_school', 'reason_for_not_attending_school', 
                         'new_born_alive_female', 'new_born_alive_male', 'new_born_alive_total', 'new_surviving_female', 
                         'new_surviving_male', 'new_surviving_total', 'isdeadmigrated', 'ever_born', 
                         'serial_no', 'identifcation_code', 'symptoms_pertaining_illness', 'sought_medical_care', 
                         'diagnosis_source', 'regular_treatment', 'regular_treatment_source', 'water_filteration', 
                         'is_toilet_shared', 'no_of_dwelling_rooms', 'current_mar_status', 'is_husband_living_with_you', 
                         'compensation_after_ster', 'received_compensation_after_ster', 'received_compensation_ster_rs', 
                         'residancial_status', 'householdstatus', 'currently_dead_or_out_migrated', 'usual_residance', 'relation_to_head', 'treatment_source', 'months_of_preg_first_anc', 'healthscheme_1', 'healthscheme_2', 'wt', 'sex', 'result_of_interview']

In [9]:
li_dif = [i for i in data.columns if i not in data.columns or i not in columns_to_be_removed]
len(li_dif)

100

In [10]:
for column in columns_to_be_removed:
    data = data.drop([column], axis=1)

In [11]:
data

,district,rural,stratum_code,age,marital_status,delivered_any_baby,born_alive_female,born_alive_male,born_alive_total,surviving_female,...,no_of_times_conceived,age_at_first_conception,is_injectable_contraceptive,health_prob_afters_fp_use,counselled_for_menstrual_hyg,aware_abt_haf,aware_abt_ort_ors,aware_abt_ort_ors_zinc,aware_abt_danger_signs_new_born,iscoveredbyhealthscheme
0,13,1,2,42,3,1,2,1,3,2,...,3,18,2,2,2,1,1,2,2,2.0
1,13,1,2,47,3,1,3,3,6,3,...,7,17,2,0,2,1,1,2,2,2.0
2,13,1,2,32,3,1,2,2,4,1,...,6,19,1,0,2,1,1,2,2,2.0
3,13,1,2,20,3,1,1,0,1,1,...,2,17,2,0,1,1,1,2,2,1.0
4,13,1,2,27,3,1,0,3,3,0,...,3,19,1,2,1,1,1,2,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941126,2,2,0,36,3,1,2,4,6,2,...,6,19,1,NaN,2,1,1,1,1,2.0
941127,2,2,0,39,3,1,2,1,3,2,...,3,15,2,NaN,2,1,1,2,1,2.0
941128,2,2,0,41,3,1,1,2,3,1,...,3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
941129,2,2,0,38,3,1,1,1,2,1,...,2,22,2,NaN,2,1,1,2,1,2.0
941130,2,2,0,43,3,1,1,1,2,1,...,2,19,1,NaN,2,1,1,1,1,2.0

In [12]:
count = 0
for i in data[data.columns[13]]:
    if i == 21:
        count += 1
count

1

In [60]:
for col in data.columns:
    print(col, data[col].unique())

district [13  6  5  1  4 11  3  7 10  9  2  8 12]
rural [1 2]
stratum_code [2 1 0]
age [ 42  47  32  20  27  29  26  30  40  39  38  28  22  19  34  25  23  37
  36  33  31  43  35  41  21  44  24  46  49  45  18  48  17  16  15 548]
marital_status [3 4 5 6 7 2 8]
delivered_any_baby [ 1  2 -1]
born_alive_female [ 2  3  1  0  4  6  5  7  8  9 11 10 -1 12 15 32 20 13 47 21 54 41 14 31
 30 22 63 65 61 45]
born_alive_male [ 1  3  2  0  6  4  5  7 10  8  9 11 -1 12 32 14 41 20 21 13 22 23 44 47
 45 31]
born_alive_total [ 3  6  4  1  5  2  7 10  0  9  8 13 11 12 15 14 -1 20 32 36 23 24 34 35
 16 50 59 43 45 53 17 22 21 33 46 47 52 63 66 62]
surviving_female [ 2  3  1  0  4  5  6  7  8  9 10 -1 12 11]
surviving_male [ 0  3  2  1  4  6  5  9  7  8 -1 20 10]
surviving_total [ 2  6  3  1  4  5  0  8  7 10  9 12 11 13 -1 14 23 21]
mother_age_when_baby_was_born [18 17 19 20 21 22 16 -1 23 24 25 27 32 15 26 28 29 34 30 31 14 35 33 13
 40 39 36 38 41 37 42 43 46 44 45 47 48  3 49 12]
outcome_pregnancy [2.0 1.0 nan 21.0 '1' '2' ' ']
is_tubectomy [ 1 -1  2]
is_vasectomy [ 1 -1  2]
is_copper_t [ 1 -1  2]
is_pills_daily [ 1 -1  2]
is_piils_weekly [ 1 -1  2]
is_emergency_contraceptive [ 1  2 -1]
is_condom [ 1 -1  2]
is_moder_methods [ 2 -1  1]
is_contraceptive [ 2  1 -1]
is_periodic_abstinence [ 1 -1  2]
is_withdrawal [ 1 -1  2]
is_amenorrahoea [ 2  1 -1]
is_other_traditional_method [ 1  2 -1]
is_currently_pregnant [ 2  1 -1  3]
pregnant_month [-1  2  6  4  1  8  7  5  3  9]
is_anc_registered [-1  1  2]
willing_to_get_pregnant [-1  4  1  2  3]
is_currently_menstruating [1 7 4 3 2 6 5]
when_you_bcome_mother_last_time [ 1  4 -1  2  3]
is_any_fp_methos_used [1 3 2]
fp_method_used [ 7  1 -1  4  5  9  6  3 13 11  8 12 10  2]
source_of_treatment_for_fp [-1  7  1  6  5  4  2  9  8  3]
how_long_using_this_method [ 1 -1  2  4  5  3]
method_obtain_last_time [16 -1 17  2  1 14  5  6  4 11 20  3  7 15 10  9 18 13 19 12  8]
reason_for_not_using_fp_method [-1  1 17  5  3 16  2 12  7 14  6  4 10 13 11 15  9  8]
is_method_used_in_last_5_yrs [-1  1  2]
method_type_used_in_last_5_yrs [-1  4  5 11  3  7 12  6  9 13  8 10  1  2]
reason_for_discontinuation [-1 12 18  1  2  8  4  3 11  9 13  5 10  6 17  7 15 16 14]
intend_to_use_fp_method_in_futur [-1  1  2]
when_method_is_going_to_use [-1  1  4  3  2]
which_method_going_to_pefer_for_ [-1  4  1  5  8  7  3  2 11 12  9  6 10 13]
want_more_childern [-1  3  1  2]
next_child_preference [-1  2  3  1]
time_for_next_child [-1  2  1  5  3  4]
anm_in_last_3_months [3 1 2]
aware_abt_rti [1 2]
aware_abt_hiv [1 2]
aware_of_the_danger_signs [1 2]
year_of_birth [1969 1964 1979 1991 1984 1982    0 1981 1971 1972 1973 1983 1989 1992
 1977 1986 1988 1974 1975 1978 1980 1968 1976 1970 1990 1967 1987 1965
 1962 1966 1993 1963 1994 1995 1996 1946 1999 1959 1957 1961 1998 1960
 1920 1997 1951 1950 1956 1944 1919 1934]
religion [1 2 3 7 4 6 5 0]
social_group_code [3 1 2]
year_of_marriage [1983 1985 1997 2009 2005 1999 2004 1995 1986 1979 1992 1993 1994 2001
 2010 2011 1974 2007 1989 2002 1996 2006 1987 2000 2008 1988 1990 1984
 2003 1982 1975 1980 1991 1981 1998 1976 1978 1970 1977 1968 1972 1971
 1973 1963 1966 1969 1964 1967    0 1965 1962 1958 1961 1959 1957 1948
 1950 1945 1952 1955 1960 1947 1940]
highest_qualification [ 0  3  5  6  4  1  8  7  2  9 -1]
occupation_status [10  6  3  4  7 13 11  1 16 14  5  2  9  8 15 12 -1]
disability_status [ 0  7  5  1  4  2  6  3 -1]
injury_treatment_type [ 0  6  2  3  7  5  4  1 -1]
illness_type [ 0  5  6  7  3  4  1  9  2  8 -1]
diagnosed_for [ 0 99  2  7  5 10 17 31  1 19 30 18 15  9 20  4 21 16  3 14 25  6 27 12
 11  8 13 22 -1 23 29 24 28 26]
chew [7 1 3 0 8 2 5 4 6]
smoke [4 1 0 5 3 2]
alcohol [4 2 0 5 1 3]
house_status [ 1 -1  3  2  4]
house_structure [3 4 1 2]
owner_status [3 1 2]
drinking_water_source [1 3 2 9 4 8 6 5 7]
is_water_filter [2 1]
toilet_used [3 0 7 2 1 4 6 8 9 5]
household_have_electricity [1 2]
lighting_source [1 2 6 3 5 4]
cooking_fuel [6 1 9 2 3 0 4 5 7 8]
kitchen_availability [2 4 3 1 5]
is_radio [1 2]
is_television [1 2]
is_computer [3 2 1]
is_telephone [2 4 3 1]
is_washing_machine [2 1]
is_refrigerator [1 2]
is_sewing_machine [1 2]
is_bicycle [2 1]
is_scooter [1 2]
is_car [2 1]
is_tractor [2 1]
is_water_pump [2 1]
cart [4 1 2 3]
land_possessed [6 1 2 4 3 5]
ever_conceived [1 2]
no_of_times_conceived [ 3  7  6  2  1  4 10  5  8  9  0 12 13 11 15 14 -1]
age_at_first_conception [18 17 19 20 21 22 16 23 24 25 -1 27 32 15 26 29 31 28 33 35 30 13 14 34
 12 36 40 38 37 41 39 42 45 43 44 46 47 48]
is_injectable_contraceptive [ 2  1 -1]
health_prob_afters_fp_use [ 2 -1  1]
counselled_for_menstrual_hyg [2 1]
aware_abt_haf [1 2]
aware_abt_ort_ors [1 2]
aware_abt_ort_ors_zinc [2 1]
aware_abt_danger_signs_new_born [2 1]
iscoveredbyhealthscheme [2 1 3]

In [14]:
print(data.columns[13])
data[data.columns[13]].unique()

outcome_pregnancy

array([2.0, 1.0, nan, 21.0, '1', '2', ' '], dtype=object)

In [15]:
l = [13, '52(sex)']
tobeaddedagain = ['is_washing_machine', 'is_refrigerator', 'is_sewing_machine', 'is_bicycle', 'is_scooter', 'is_car', 'is_tractor', 'is_water_pump', 'cart']

In [16]:
data[["marital_status", "chew"]] = data[["marital_status", "chew"]].replace([' ', 25], 8).fillna(8).astype(int)

In [17]:
data["delivered_any_baby"] = data["delivered_any_baby"].replace([' ', 8, 3], -1).fillna(-1).astype(int)

In [18]:
data[["born_alive_female", "born_alive_male", "born_alive_total", "surviving_female", "surviving_male", "surviving_total", "no_of_times_conceived"]] = data[["born_alive_female", "born_alive_male", "born_alive_total", "surviving_female", "surviving_male", "surviving_total", "no_of_times_conceived"]].replace([' '], -1).fillna(-1).astype(int)

In [19]:
data[["mother_age_when_baby_was_born", "how_long_using_this_method", "method_obtain_last_time"]] = data[["mother_age_when_baby_was_born", "how_long_using_this_method", "method_obtain_last_time"]].replace([' ', 0, '0'], -1).fillna(-1).astype(int)

In [20]:
data[["is_tubectomy", "is_vasectomy", "is_copper_t", "is_pills_daily", "is_piils_weekly", "is_emergency_contraceptive", "is_condom", "is_moder_methods", "is_contraceptive", "is_periodic_abstinence", "is_withdrawal", "is_amenorrahoea", "is_other_traditional_method", "house_status", "is_injectable_contraceptive"]] = data[["is_tubectomy", "is_vasectomy", "is_copper_t", "is_pills_daily", "is_piils_weekly", "is_emergency_contraceptive", "is_condom", "is_moder_methods", "is_contraceptive", "is_periodic_abstinence", "is_withdrawal", "is_amenorrahoea", "is_other_traditional_method", "house_status", "is_injectable_contraceptive"]].replace([' ', 0], -1).fillna(-1).astype(int)

In [21]:
data[["is_currently_pregnant", "pregnant_month", "is_anc_registered", "willing_to_get_pregnant", "when_you_bcome_mother_last_time", "reason_for_not_using_fp_method", "reason_for_discontinuation", "want_more_childern", "time_for_next_child"]] = data[["is_currently_pregnant", "pregnant_month", "is_anc_registered", "willing_to_get_pregnant", "when_you_bcome_mother_last_time", "reason_for_not_using_fp_method", "reason_for_discontinuation", "want_more_childern", "time_for_next_child"]].replace([' ', 0, '0'], -1).fillna(-1).astype(int)

In [22]:
data["is_currently_menstruating"] = data["is_currently_menstruating"].replace([' ', 0], 7).fillna(7).astype(int)

In [23]:
data["is_any_fp_methos_used"] = data["is_any_fp_methos_used"].replace([' ', 0, '0'], 3).fillna(3).astype(int)

In [24]:
data["fp_method_used"] = data["fp_method_used"].replace([' ', 0, '0', 14, '14'], -1).fillna(-1).astype(int)

In [25]:
data["source_of_treatment_for_fp"] = data["source_of_treatment_for_fp"].replace([' ', 0, '0', 17], -1).fillna(-1).astype(int)

In [26]:
data["is_method_used_in_last_5_yrs"] = data["is_method_used_in_last_5_yrs"].replace([' ', 0, '0', 5], -1).fillna(-1).astype(int)

In [27]:
data[["method_type_used_in_last_5_yrs", "which_method_going_to_pefer_for_"]] = data[["method_type_used_in_last_5_yrs", "which_method_going_to_pefer_for_"]].replace([' ', 0, '0', 14, '14', '17'], -1).fillna(-1).astype(int)

In [28]:
data["intend_to_use_fp_method_in_futur"] = data["intend_to_use_fp_method_in_futur"].replace([' ', 0, '0', '3', 20, '17'], -1).fillna(-1).astype(int)

In [29]:
data["when_method_is_going_to_use"] = data["when_method_is_going_to_use"].replace([' ', 0, '0', 12], -1).fillna(-1).astype(int)

In [30]:
data["next_child_preference"] = data["next_child_preference"].replace([' ', 0, '0', 5, '5'], -1).fillna(-1).astype(int)

In [31]:
data["anm_in_last_3_months"] = data["anm_in_last_3_months"].replace([' ', 0, '0', '8'], 3).fillna(3).astype(int)

In [32]:
data[["aware_abt_rti", "aware_abt_hiv", "aware_of_the_danger_signs"]] = data[["aware_abt_rti", "aware_abt_hiv", "aware_of_the_danger_signs"]].replace([' ', 0, '0', '-1'], 2).fillna(2).astype(int)

In [33]:
data[["year_of_birth", "religion", "social_group_code"]] = data[["year_of_birth", "religion", "social_group_code"]].replace([2011, 1985], 0).fillna(0).astype(int)

In [34]:
data["year_of_marriage"] = data["year_of_marriage"].replace([10, 991, 198, 984], 0).fillna(0).astype(int)

In [35]:
data[["highest_qualification", "injury_treatment_type", "illness_type", "diagnosed_for"]] = data[["highest_qualification", "injury_treatment_type", "illness_type", "diagnosed_for"]].fillna(-1).astype(int)

In [36]:
data["occupation_status"] = data["occupation_status"].replace([0], -1).fillna(-1).astype(int)

In [37]:
data["disability_status"] = data["disability_status"].replace([10], -1).fillna(-1).astype(int)

In [38]:
data[["smoke", "alcohol"]] = data[["smoke", "alcohol"]].replace([' '], 5).fillna(5).astype(int)

In [39]:
data["house_structure"] = data["house_structure"].replace([' ', 'SIKANDER'], 4).fillna(4).astype(int)

In [40]:
data["owner_status"] = data["owner_status"].replace([' '], 3).fillna(3).astype(int)
data["owner_status"] = data["owner_status"].replace([0], 3).fillna(3).astype(int)

In [41]:
data[["drinking_water_source", "cooking_fuel"]] = data[["drinking_water_source", "cooking_fuel"]].replace([' '], 9).fillna(9).astype(int)

In [42]:
data[["is_water_filter", "household_have_electricity", "is_radio", "is_television"]] = data[["is_water_filter", "household_have_electricity", "is_radio", "is_television"]].replace([' '], 2).fillna(2).astype(int)

In [43]:
data["toilet_used"] = data["toilet_used"].replace([' '], 0).fillna(0).astype(int)

In [44]:
data["lighting_source"] = data["lighting_source"].replace([' '], 6).fillna(6).astype(int)

In [45]:
data["kitchen_availability"] = data["kitchen_availability"].replace([' '], 2).fillna(2).astype(int)

In [46]:
data["is_computer"] = data["is_computer"].replace([' '], 3).fillna(3).astype(int)

In [47]:
data["is_telephone"] = data["is_telephone"].replace([' '], 4).fillna(4).astype(int)

In [48]:
data["land_possessed"] = data["land_possessed"].replace([' '], 6).fillna(6).astype(int)

In [49]:
data["ever_conceived"] = data["ever_conceived"].replace([' ', 0, 'W05UT_052016200590502'], 2).fillna(2).astype(int)

In [50]:
data["age_at_first_conception"] = data["age_at_first_conception"].replace([' ', 0, 1, 3], -1).fillna(-1).astype(int)

In [51]:
data["health_prob_afters_fp_use"] = data["health_prob_afters_fp_use"].replace([' ', 0, '0', 3, '3', 4, '4', 5, '5'], -1).fillna(-1).astype(int)

In [52]:
data["counselled_for_menstrual_hyg"] = data["counselled_for_menstrual_hyg"].replace([' ', 0], 2).fillna(2).astype(int)

In [53]:
data[["aware_abt_haf", "aware_abt_ort_ors", "aware_abt_ort_ors_zinc", "aware_abt_danger_signs_new_born"]] = data[["aware_abt_haf", "aware_abt_ort_ors", "aware_abt_ort_ors_zinc", "aware_abt_danger_signs_new_born"]].replace([' ', 0, 3], 2).fillna(2).astype(int)

In [54]:
data["iscoveredbyhealthscheme"] = data["iscoveredbyhealthscheme"].replace([0], 3).fillna(3).astype(int)

In [55]:
data[["is_washing_machine", "is_refrigerator", "is_sewing_machine", "is_bicycle", "is_scooter", "is_car", "is_tractor", "is_water_pump"]] = data[["is_washing_machine", "is_refrigerator", "is_sewing_machine", "is_bicycle", "is_scooter", "is_car", "is_tractor", "is_water_pump"]].replace([' '], 2).fillna(2).astype(int)

In [59]:
data["cart"] = data["cart"].replace([' '], 4).fillna(4).astype(int)

In [61]:
data.to_csv('clean5.csv')

In [62]:
data

,district,rural,stratum_code,age,marital_status,delivered_any_baby,born_alive_female,born_alive_male,born_alive_total,surviving_female,...,no_of_times_conceived,age_at_first_conception,is_injectable_contraceptive,health_prob_afters_fp_use,counselled_for_menstrual_hyg,aware_abt_haf,aware_abt_ort_ors,aware_abt_ort_ors_zinc,aware_abt_danger_signs_new_born,iscoveredbyhealthscheme
0,13,1,2,42,3,1,2,1,3,2,...,3,18,2,2,2,1,1,2,2,2
1,13,1,2,47,3,1,3,3,6,3,...,7,17,2,-1,2,1,1,2,2,2
2,13,1,2,32,3,1,2,2,4,1,...,6,19,1,-1,2,1,1,2,2,2
3,13,1,2,20,3,1,1,0,1,1,...,2,17,2,-1,1,1,1,2,2,1
4,13,1,2,27,3,1,0,3,3,0,...,3,19,1,2,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
941126,2,2,0,36,3,1,2,4,6,2,...,6,19,1,-1,2,1,1,1,1,2
941127,2,2,0,39,3,1,2,1,3,2,...,3,15,2,-1,2,1,1,2,1,2
941128,2,2,0,41,3,1,1,2,3,1,...,3,22,-1,-1,2,2,2,2,2,2
941129,2,2,0,38,3,1,1,1,2,1,...,2,22,2,-1,2,1,1,2,1,2
941130,2,2,0,43,3,1,1,1,2,1,...,2,19,1,-1,2,1,1,1,1,2